$animationSpeedTop: 45s;
$animationSpeedBottom: 35s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

// Styling
.slider-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.slider {
  text-align: center;
  background: rgba(255, 255, 255, 0.556);
  backdrop-filter: blur(20px);
  height: 40px;
  margin: auto;
  overflow: hidden;
  width: 100%;
  font-size: 15px;
  color: black;
  z-index: 1000;

  .slide-track {
    display: flex;
    width: calc(200px * 12);
    position: relative;
  }

  .slide-track-t,
  .slide-track-b {
    display: flex;
    white-space: nowrap;
  }

  .slide-track-t {
    animation: scroll $animationSpeedTop linear infinite;
  }

  .slide-track-b {
    animation: scroll $animationSpeedBottom linear infinite;
  }

  .slide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;

    .name {
      color: #763b7c;
    }
  }
}

.gap {
  padding: 30px;
}
