.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right, black 50%, white 50%);
  margin: 0; */
  padding: 2em;
}

.header img {
  height: 9em;
  width: auto;
}

.produceBy {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 0.7em;
}
.produceBy a {
  text-decoration: none;
  color: #fff;

  &:hover {
    color: #eb93f1;
  }
}

.Lbtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.125em;
  color: rgba(128, 128, 128, 0.784);
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.Lbtn:hover {
  background-color: #cdcdcd;
}
